.app-layout {
  display: flex;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

.main-area {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.with-sidebar {
  margin-left: 240px;
  padding-top: 64px;
}

.no-sidebar {
  margin-left: 0;
  padding-top: 64px;
}
