.sidebar {
  width: 240px;
  background-color: #0f123f;
  height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sidebar-item {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #ffa3a3;
}

.sidebar-item.active {
  background-color: #ffa3a3;
  color: #0f123f;
}

.start-meeting-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1rem;
  background-color: #c8f0f0;
  color: #0f123f;
  border-radius: 8px;
  text-decoration: none;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.start-meeting-button:hover {
  background-color: #ffa3a3;
}
.menu-section {
  margin-bottom: 100px;
}

/* 
.sidebar {
  width: 230px;
  background: linear-gradient(to bottom, #0c0c48, #131361);
  color: white;
  padding: 20px;
  font-family: "Pretendard", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}



.section-title {
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 12px;
  border-bottom: 1px solid #ffffff66;
  padding-bottom: 4px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.menu-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-list li.active {
  background: linear-gradient(to right, #ff7979, #ff9999);
  color: white;
  font-weight: 600;
} */
